<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Propiedades - Nombre Empresa</title>

  <!-- Bootstrap 3 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.gif" alt="Logo Empresa" class="logo">
          <span class="company-name">S.A Angulo Agropecuaria e Inmobiliaria</span>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Inicio</a></li>
      </ul>
    </div>
  </nav>

  <!-- CONTENIDO PRINCIPAL -->
  <div class="container main-content" style="margin-top:70px;">
    <div class="row">
      <% propiedades.forEach(function(propiedad) { %>
        <div class="col-sm-6 col-md-4">
          <a href="/propiedad/<%= propiedad.id %>" class="propiedad-link">
            <div class="propiedad">
              <img src="<%= propiedad.imagenes[0]?.urlImagen %>" alt="<%= propiedad.nombre %>" class="img-responsive">
              <div class="info">
                <h3><%= propiedad.nombre %></h3>
                <p>Dirección: <%= propiedad.ubicacion.barrio %>, <%= propiedad.ubicacion.municipio %></p>
                <p class="precio">
                <span class="ars">ARS <%= propiedad.precioBase_formatted %></span> | 
                  <% if(propiedad.precioUSD_formatted){ %>
                    <span class="usd">USD <%= propiedad.precioUSD_formatted %></span>
                  <% } else { %>
                    <span class="usd">USD -</span>
                  <% } %>
                </p>
              </div>
            </div>
          </a>
        </div>
      <% }) %>
    </div>
  </div>

  <!-- FOOTER -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <!-- Mapa de Google Maps -->
        <div class="col-sm-6">
          <div class="map-container">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.4835115114547!2d-68.8485867!3d-32.885382299999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e0902e2540031%3A0x617cd2d167bd9169!2sAngulo%20Innocenti%20Viticultores!5e0!3m2!1ses!2sar!4v1762354663673!5m2!1ses!2sar"
              width="100%"
              height="250"
              frameborder="0"
              style="border:0;"
              allowfullscreen>
            </iframe>
          </div>
        </div>

        <!-- Enlaces y Redes -->
        <div class="col-sm-6">
          <div class="footer-info">
            <div class="footer-links">
              <h4>Enlaces útiles</h4>
              <ul class="list-unstyled">
                <li><a href="/">Inicio</a></li>
              </ul>
              <p>©2025 ANGULO INNOCENTI. All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
